
.container{
    display: block;
    margin: auto;
    border: 2px solid #eeeeee;
    padding: 15px;
    margin-top: 20px;
}

body.container{
    width: 90%;
}

li{
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #eeeeee;
}

a{
    font-size: 15px;
}