<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
        <link href="/css/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body class="container">
        <a href="/users"><img class="logo" src="/q-01.png" /></a>
    
        <h2 class="light">New Contact</h2>
        
    <form action="/users" method="POST">
        <table class="contact table table-striped">
            <tr>
            <td>
            <label>Full Name</label>
            <input class="input" type="text" id="name" name="name" value="" placeholder="Enter Name" />
            </td>
            </tr>

            <tr>
            <td>
            <label>Title</label>
            <input class="input" type="text" id="title" name="title" value="" placeholder="Enter Job Title"/>
            </td>
            </tr>

            <tr>
            <td>
            <label>Street Address</label>
            <input class="input" type="text" id="address" name="address" value="" placeholder="Enter Address"/>
            </td>
            </tr>
            
            <tr>
            <td>
            <label>City</label>
            <input class="input" type="text" id="city" name="city" value="" placeholder="Enter City" />
            </td>
            </tr>
            
            <tr>
            <td>
            <label>State</label>
            <input class="input" type="text" id="state" name="state" value="" placeholder="Enter State" />
            </td>
            </tr>
            
            <tr>
            <td>
            <label>Zip</label>
            <input class="input" type="text" id="zip" name="zip" value="" placeholder="Enter Zip Code" />
            </td>
            </tr>
            
            <tr>
            <td>
            <label>Notes</label>
            <input class="input" type="textfield" id="notes" name="notes" value="" placeholder="Enter Additional Details"/>
            </td>
            </tr>
            
            </table>
            <button class="link">Create Contact</button>
    
        </form>
    <footer>Project for JOMC 583. Address Book created with MongoDB. Logo credit <a href="https://dribbble.com/shots/857808-Q">Glen Hitchcock.</a></footer>
    </body>
</html>
