<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
        <link href="./css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body class="container">
    
        <h3>New Contact</h3>

        <form action="/users" method="POST">

            <p>
            <label>Full Name</label>
            <input type="text" id="name" name="name" value="" />
            </p>

            <p>
            <label>Title</label>
            <input type="text" id="title" name="title" value="" />
            </p>

            <p>
            <label>Street Address</label>
            <input type="text" id="address" name="address" value="" />
            </p>
            
            <p>
            <label>City</label>
            <input type="text" id="city" name="city" value="" />
            </p>
            
            <p>
            <label>State</label>
            <input type="text" id="state" name="state" value="" />
            </p>
            
            <p>
            <label>Zip Code</label>
            <input type="text" id="zip" name="zip" value="" />
            </p>
            
            <p>
            <label>Notes</label>
            <input type="textfield" id="notes" name="notes" value="" />
            </p>
            
            <button>Create</button>

        </form>

    </body>
</html>
