<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
        <link href="./css/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Raleway:600,400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body class="container">
        <a href="/users"><img class="logo" src="/q-01.png" /></a>
        <h2 class="light">Contacts</h2>
        <% if (users.length) { %>
        <table class="contact table table-striped">
            <% for (var i in users) { %>
            <tr class="dark">
                <td><a class="link" href="/users/<%= users[i].name %>"><%= users[i].name %></a>
                <br/>
                <a class="smalllink"><%= users[i].title %></a>
                </td>
                <td class="edit"><a class="link" href="/users/<%= users[i].name %>">Edit</a></td>
            </tr>
            <% } %>
        </table>
        <% } else { %>
        <p>Sorry, there are no contacts yet. Add one below.</p>
        <% } %>

        <h3 class="link"><a href="/user/new">Create A New Contact</a></h3>
        
        <footer>Project for JOMC 583. Address Book created with MongoDB. Logo credit <a href="https://dribbble.com/shots/857808-Q">Glen Hitchcock.</a></footer>
    </body>
</html>
